<main id="main">
  <div class="container center">
    <div class="page-area">
      <article>
        <h1>New Chart</h1>
        <div id="d3jsChart"></div>
      </article>
      <article>
        <h1>Chart</h1>
        <p>
          <canvas id="myChart" width="340" height="340" style="display: inline-block;"></canvas>
        </p>
      </article>
      <article>
        <h1>Chart</h1>
        <p>
          <canvas id="myChart2" width="340" height="340" style="display: inline-block;"></canvas>
        </p>
      </article>
    </div>
  </div>
</main>
